/* Reset default browser styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

/* Center the content on the page */
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.FormContainer {
  max-height: 500px; /* Adjust the height as needed */
  overflow: auto;
  padding: 10px;
}


/* Style the header */
h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Style the form */
form {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

input {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border 0.3s;
}

input:focus {
  outline: none;
  border-color: #007bff;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Style the result display */
.ResultDisplay {
  margin-top: 20px;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: left;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .App {
    padding: 20px;
  }

  form {
    width: 100%;
  }
}
